<div class="container">

  <form id="tweet" action="/blah" method="get">
    <input type="text" name="username" placeholder="Enter the twitter id here">
    <input type="submit" value="Submit!">
  </form>

</div>
