<div class="container">

  <form id="tweet" action="/blah" method="get">
    <input type="text" name="tweeted" placeholder="Enter your tweet here">
    <input type="submit" value="Submit!">
  </form>

</div>
